@import "tailwindcss";

@theme {
  --color-accent-50: #f4f2f9;
  --color-accent-100: #e5e0f1;
  --color-accent-200: #d1c8e6;
  --color-accent-300: #b6a7d5;
  --color-accent-400: #9380c1;
  --color-accent-500: #6552ad;
  --color-accent-600: #5b4a9b;
  --color-accent-700: #4c3d82;
  --color-accent-800: #3c3066;
  --color-accent-900: #312752;
}
